<%- partial('_partial/head') %>

<body class="bg-dark">
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>

  <main class="container">
    <div class="row">
      <div class="col">
        <div class="container">
          <section class="row">
            <%- body %>
          </section>
        </div>
      </div>

      <aside class="col-lg-3">
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      </aside>
    </div>
  </main>

  <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/after-footer') %>
</body>
</html>
