


<div class="row">
  <article class="col bg-light">
    <header>
      <h1 class="h2">
        <a href="<%- config.root %><%- item.path %>">
          <%- item.title %>
        </a>
      </h1>

      <time datetime="<%= item.date.format(config.date_format) %>"><%= item.date.format(config.date_format) %></time>

      <div>
        <% if(item.excerpt) { %>
          <p>
            <a href="<%- config.root %><%- item.path %>">
              <%= theme.excerpt_link %>
            </a>
          </p>
        <% } %>
      </div>
    </header>
  </article>
</div>
